{% extends 'base/base.html' %}

{%block content%}
<div class="mt-3 container">
    <div class="row">
        {% for quiz in quizes %}

        <div class="col">
            <div class="card shadow">

                <img class="m-2" height="150"
                    src="https://www.flaticon.com/svg/vstatic/svg/3406/3406828.svg?token=exp=1615701579~hmac=2a3a37cc30c1aee34d02665b584875fc"
                    alt="">
                <div class="card-body">
                    <h4 class="card-title">{{quiz.title}}</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aut sunt
                    </p>
                </div>
                <div class="card-footer p-0 m-0">
                    <a class="btn btn-dark border m-0 col-12" href="/quiz/{{quiz.id}}">Start Quiz</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{%endblock%}