{% extends 'base/base.html' %}

{%block content%}
<div class="mt-3 container">
    <div class="row">
        {% for quiz in quizes %}

        <div class="col">
            <div class="card shadow">
                <img class="card-img-top" height="200"
                    src="https://dummyimage.com/600x400/99e8e7/090f0c.png&text={{quiz.title}}" alt="">
                <div class="card-body">
                    <h4 class="card-title">{{quiz.title}}</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid aut sunt
                    </p>
                </div>
                <div class="card-footer p-0 m-0">
                    <a class="btn btn-dark border m-0 col-12" href="/quiz/{{quiz.id}}">Start Quiz</a>
                </div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>

{%endblock%}