{% extends 'base/base.html' %}

{%block content%}
<div class="container">
    <br>
    <br>
    <h1>Question Page</h1>
    <form action="" method="post">
        <input type="text" hidden value="{{question.id}}" name="id">
        <input type="text" hidden value="{{question.question}}" name="question">
        <div>
            <table class="table">
                <tr>
                    <td><b>{{current_question_number}}.</b> {{question.question}}</td>
                </tr>
                <tr>
                    <td><input id='a' class='m-2' type="checkbox" value="A" name="answer">
                        <label for="a">
                            a. {{question.a}}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class='m-2' id='b' type="checkbox" value="B" name="answer">
                        <label for="b">
                            b. {{question.b}}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td><input class='m-2' id='c' type="checkbox" value="C" name="answer">
                        <label for="c">
                            c. {{question.c}}
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class='m-2' id='d' type="checkbox" value="D" name="answer">
                        <label for="d">
                            d. {{question.d}}
                        </label>
                    </td>
                </tr>

            </table>
        </div>
        <hr>


        {%csrf_token%}
        <input type="number" hidden name="next_question_number" value='{{next_question_number}}'>
        <input class="btn btn-info" type="submit" value="Next Question">
    </form>
</div>
{%endblock%}